@use "root" as root;

.main-nav {
  background-color: root.$white;
  padding: root.$spacing-4;
}

.nav-list-wrapper {
  > .nav-list {
    list-style-type: none;
  }
}

.nav-list > .nav_item {
  margin: 0 root.$spacing-5 ;
}

.nav_item > .nav_link {
  color: root.$black;
  font-weight: 500;
  text-decoration: none;
}

.link-active {
  align-items: center;
  display: flex;
  background-color: root.$primary-color;
  border-radius: root.$spacing-2;
  color: root.$white !important;
  padding: root.$spacing-2;
}

@mixin navtop-down-48rem {
  .nav-top {
    display: none;
  }
}
