@use "root" as root;

.comment-field-opener-wrapper {
  align-items: center;
  bottom: root.$spacing-5 * 3;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}
